[submodule "source/dsp56300"]
	path = source/dsp56300
	url = ../dsp56300
[submodule "source/JUCE"]
	path = source/JUCE
	url = https://github.com/dsp56300/JUCE
[submodule "source/cpp-terminal"]
	path = source/cpp-terminal
	url = ../cpp-terminal.git
[submodule "source/mc68k"]
	path = source/mc68k
	url = https://github.com/dsp56300/mc68k.git
