#ifndef FILEVER
#include "versionRC.h"
#endif

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION FILEVER
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040704b0"
        BEGIN
            VALUE "Comments", "https://discord.gg/mveFUNbNCK"
            VALUE "CompanyName", "The Usual Suspects"
            VALUE "FileDescription", "Virus Filter"
            VALUE "FileVersion", STRFILEVER
            VALUE "InternalName", "VirusFilter"
            VALUE "LegalCopyright", "Copyright (C) 2021 by The Usual Suspects"
            VALUE "OriginalFilename", "virusFilterVST2Release.dll"
            VALUE "ProductName", "Virus Filter"
            VALUE "ProductVersion", STRPRODUCTVER
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x407, 1200
    END
END
